<section
  class="mt-5 d-flex justify-content-center align-content-center text-white text-center"
>
  <div class="container m-5 py-5">
    <h2 class="text-uppercase fw-bold fs-1">PORTFOLIO COMPONENT</h2>
    <div class="d-flex align-items-center justify-content-center mb-3">
      <div class="line me-3"></div>
      <i class="fa-solid fa-star" style="color: #2c3e50"></i>
      <div class="line ms-3"></div>
    </div>
    <div class="row g-5">
      <div class="col-lg-4 col-md-6 "  data-bs-toggle="modal"
      data-bs-target="#exampleModal">
        <div class="rounded3 overflow-hidden position-relative">
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content ">
                <img
                  src="./assets/images/poert1.png"
                  class="w-100"
                  alt=""

                />
              </div>
            </div>
          </div>
          <img
          src="./assets/images/poert1.png"
          class="w-100"
          alt=""
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        />
          <div class="layer">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 "  data-bs-toggle="modal"
      data-bs-target="#exampleModal1">
        <div class="rounded3 overflow-hidden position-relative">
          <div
            class="modal fade"
            id="exampleModal1"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content ">
                <img
                  src="./assets/images/port2.png"
                  class="w-100"
                  alt=""

                />
              </div>
            </div>
          </div>
          <img
          src="./assets/images/port2.png"
          class="w-100"
          alt=""
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        />
          <div class="layer">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 "  data-bs-toggle="modal"
      data-bs-target="#exampleModal2">
        <div class="rounded3 overflow-hidden position-relative">
          <div
            class="modal fade"
            id="exampleModal2"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content ">
                <img
                  src="./assets/images/port3.png"
                  class="w-100"
                  alt=""

                />
              </div>
            </div>
          </div>
          <img
          src="./assets/images/port3.png"
          class="w-100"
          alt=""
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        />
          <div class="layer">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 "  data-bs-toggle="modal"
      data-bs-target="#exampleModal">
        <div class="rounded3 overflow-hidden position-relative">
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content ">
                <img
                  src="./assets/images/poert1.png"
                  class="w-100"
                  alt=""

                />
              </div>
            </div>
          </div>
          <img
          src="./assets/images/poert1.png"
          class="w-100"
          alt=""
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        />
          <div class="layer">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 "  data-bs-toggle="modal"
      data-bs-target="#exampleModal1">
        <div class="rounded3 overflow-hidden position-relative">
          <div
            class="modal fade"
            id="exampleModal1"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content ">
                <img
                  src="./assets/images/port2.png"
                  class="w-100"
                  alt=""

                />
              </div>
            </div>
          </div>
          <img
          src="./assets/images/port2.png"
          class="w-100"
          alt=""
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        />
          <div class="layer">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 "  data-bs-toggle="modal"
      data-bs-target="#exampleModal2">
        <div class="rounded3 overflow-hidden position-relative">
          <div
            class="modal fade"
            id="exampleModal2"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content ">
                <img
                  src="./assets/images/port3.png"
                  class="w-100"
                  alt=""

                />
              </div>
            </div>
          </div>
          <img
          src="./assets/images/port3.png"
          class="w-100"
          alt=""
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        />
          <div class="layer">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
