<section class="mt-5 d-flex justify-content-center align-content-center text-white text-center">
  <div class="container m-5 py-5">
    <h2 class="text-uppercase  fw-bold fs-1">CONATCT SECTION</h2>
    <div class="d-flex align-items-center justify-content-center mb-3">
      <div class="line me-3"></div>
      <i class="fa-solid fa-star" style="color:#2c3e50"></i>
      <div class="line ms-3" ></div>
    </div>
    <div class="form-box login">

      <form action="#">
        <div class="input-box">

          <input type="text" required id="inputEmail">
          <label for="inputEmail" aria-placeholder="User Name">User name</label>
        </div>
        <div class="input-box">

          <input type="text" required id="inputEmail">
          <label for="inputEmail" aria-placeholder="User age">User age</label>
        </div>
        <div class="input-box">
        
          <input type="email" required id="inputEmail">
          <label for="inputEmail" aria-placeholder="User Name">User email</label>
        </div>
        <div class="input-box">

          <input type="password" required id="inputpassword">
          <label for="inputpassword">Password</label>
        </div>

        <button type="button" id="joinin" class="btn">send a message</button>
      </form>
    </div>
  </div>
</section>
