<footer>
  <div class="footer ">
    <div class="card-group py-4">
      <div class="card">
        <div class="card-body text-center">
          <h3>LOCATION</h3>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
      </div>
      <div class="card text-white">
        <div class="card-body text-center">
          <h3>AROUND THE WEB</h3>
          <div class="icons">
            <i class="fa-brands fa-facebook mx-1 icon"></i
            ><i class="fa-brands fa-twitter mx-1 icon"></i
            ><i class="fa-brands fa-linkedin-in mx-1 icon"></i
            ><i class="fa-solid fa-globe mx-1 icon"></i>
          </div>
        </div>
      </div>
      <div class="card">
        <div _ngcontent-fey-c21="" class="card-body text-center">
          <h3 _ngcontent-fey-c21="">ABOUT FREELANCER</h3>
          <p _ngcontent-fey-c21="">
            Freelance is a free to use, licensed Bootstrap theme created by
            Route
          </p>
        </div>
      </div>
    </div>
    <div class="p text-center"><p>Copyright © Your Website 2021</p></div>
  </div>
</footer>
