<nav class="navbar fixed-top  py-4 navbar-expand-lg ">
  <div class="container">
    <a class="navbar-brand " href="#">START FRAMEWORK</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end " id="navbarNav">
      <ul class="navbar-nav fw-bold">
        <li class="nav-item">
          <a class="nav-link  " routerLinkActive="activelink" routerLink="about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLinkActive="activelink" routerLink="portfolio">PORTFOLIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLinkActive="activelink" routerLink="contacts">CONTACT</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
