<div
  class="home mt-5 d-flex justify-content-center align-content-center text-white text-center "
>
  <div class="container mt-5 py-5">
    <img
      src="./../../../assets/images/avataaars.svg"
      class="w-25 mb-3"
      alt=""
    />
    <div class="text-center pt-4" style="color: white">
      <h2 class="text-uppercase mb-3 fs-1 fw-bolder">start Framework</h2>
      <div class="d-flex align-items-center justify-content-center mb-3">
        <div class="line me-3" style="background-color: white"></div>
        <i class="fa-solid fa-star"></i>
        <div class="line ms-3" style="background-color: white"></div>

      </div>
      <p class="mb-0 ">Graphic Artist - Web Designer - Illustrator</p>
    </div>
  </div>
</div>
